body {
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 0;
    background-color: #f5f5f5; 
  color: #007BFF;
    margin: 50px;
}
h1{
    color: #007BFF;
    font-size: 50px;
    font-family: Georgia, serif;
  
}
p{
    font-size: 20px;
    color: #007BFF;
}
img {
    width: 450px;
    height: 450px;
    margin: 180px;
}

ul {
    font-size: 18px;
    color: rgb(200, 180, 180);
}
@keyframes color-change {
  0%   { color: rgb(90, 27, 27); }
  50%  { color: rgb(39, 37, 37); }
  100% { color: rgb(203, 203, 209); }
}